#   ____  ____   _____
#  / __ \|  _ \ / ____|
# | |  | | |_) | |     ___  _ __ ___
# | |  | |  _ <| |    / _ \| '__/ _ \
# | |__| | |_) | |___| (_) | | |  __/
#  \___\_\____/ \_____\___/|_|  \___|

## FiveM Documentation
## https://aka.cfx.re/server-commands

## QBCore Documentation
## https://docs.qbcore.org

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 48
set steam_webApiKey "none"
sets tags "custom, deployer, qbcore, qb-core, lucidcity, d10, district10, seriousrp, semi-seriousrp, semiseriousrp"

## You MAY edit the following:
sv_licenseKey "cfxk_1oei4IVnATZD8a3yKE8jd_3wWitL"
sv_hostname "Digital's Test Server"
sets sv_projectName "Digital's Test Server"
sets sv_projectDesc "An advanced FiveM RP framework including jobs, gangs, housing & more!"
sets locale "en-US"
load_server_icon myLogo.png
sets banner_detail "https://cdn.discordapp.com/attachments/1149888553791271022/1155185190302388224/fivembanner.png"
sets banner_connecting "https://cdn.discordapp.com/attachments/1149888553791271022/1155185199345320039/banner.png"
sets Discord "discord.gg/volticrp"
sets Developer "digitallmao"
sets Store ""
sets Website ""
set sv_enforceGameBuild 2802
set mysql_connection_string "mysql://root@localhost/QBCoreFramework_0762FB?charset=utf8mb4"

# Voice config
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1

# QBCore locale config
setr qb_locale "en"

# QBCore UseTarget
setr UseTarget false

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents
ensure okokChatV2

# QBCore & Extra stuff
ensure qb-core
ensure [qb]
ensure [standalone]
ensure [voice]
ensure [defaultmaps]
ensure [mlos]
ensure [vehicles]
ensure [clothing]
ensure [logs]
ensure [loadingscreen]
ensure [heist]
ensure [jobs]
ensure [anticheat]

## Permissions ##
add_ace group.admin command allow # allow all commands
add_principal identifier.fivem:10988877 group.admin #Cihnkasaurus

# Logs
add_ace resource.vrp-logs command.add_principal allow
add_ace resource.vrp-logs command.remove_principal allow
add_ace resource.vrp-logs command.add_ace allow
add_ace resource.vrp-logs command.remove_ace allow
add_principal identifier.fivem:10988877 jd.staff

dd_ace group.admin SD_AutoDV allow
dd_ace group.god SD_AutoDV allow
# Resources
add_ace resource.qb-core command allow # Allow qb-core to execute commands

# Gods
add_ace qbcore.god command allow # Allow all commands
add_principal identifier.fivem:10988877  group.admin add_ace group.admin admin allow
add_principal identifier.fivem:10988877 group.mod add_ace group.mod mod allow


# Inheritance
add_principal qbcore.god group.admin # Allow gods access to the main admin group used to get all default permissions
add_principal qbcore.god qbcore.admin # Allow gods access to admin commands
add_principal qbcore.admin qbcore.mod # Allow admins access to mod commands
